:root {
  --primary-color: #f5c647;
  --secondry-color: #534341;
  --tertiary-color: #102030;
  --dark-color: #202020;
  --light-color: #f0f0f0;
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  background: var(--light-color);
}

img {
  width: 100%;
}

.links {
  padding: 0.5rem;
}

.link {
  text-decoration: none;
  color: #000;
  padding: 0.5rem;
}
